body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 800;
  color: gray;
}
h2 {
  font-size: 30px;
  font-weight: 800;
  color: gray;
}
.half-width {
  display: flex;
  margin-bottom: 10%;
}
.top-banner {
  width: 40%;
  margin-left: 15%;
  margin-right: 10%;
}
.orange {
  color: orange;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 40px;
  font-weight: 700;
  border-radius: 50px;
  color: white;
}

#about-me {
  width: 100%;
  background-image: url("images/man.png");
  background-repeat: no-repeat;
  background-position: center;
}

.middle-banner {
  width: 40%;
  margin-left: 45%;
  margin-right: 15%;
  padding: 20px 30px;
  text-align: justify;
}

.change {
  margin-right: 20%;
}

#item {
  text-align: center;
}
.food-item {
  width: 33.33%;
  padding: 10px;
  box-shadow: 10px 10px 30px gray;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.food-item img {
  width: 300px;
  height: 300px;
}

h3 {
  font-size: 25px;
  font-weight: 800;
  text-align: left;
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Social {
  width: 30%;
}

#follower {
  box-shadow: 8px 8px 25px gray;
  padding: 15px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
}
