body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  color: gray;
}
h2 {
  font-size: 30px;
  font-weight: 800;
  color: gray;
}
.half-width {
  display: flex;
  margin-bottom: 10%;
}
.top-banner {
  width: 40%;
  margin-left: 15%;
  margin-right: 10%;
}
.orange {
  color: orange;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 40px;
  font-weight: 700;
  border-radius: 50px;
  color: white;
}

#about-me {
  width: 100%;
  background-image: url("images/male2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.middle-banner {
  width: 40%;
  margin-left: 45%;
  margin-right: 15%;
  padding: 20px 30px;
  text-align: justify;
}

.change {
  margin-right: 20%;
}
